= render "layouts/sidebar"

= render "layouts/leniswrapper" do
  = render "layouts/navigationshortcutswrapper" do
    .new-hp-bg{"data-controller" => "parallax-background", "data-scroll" => "", "data-scroll-speed" => "-3"}
      - wood_img = bitmap_image_data_url("images/wood")
      - paper_img = bitmap_image_data_url("images/paper")
      = image_tag(wood_img['.avif'], loading: "eager", decoding: "async", fetchpriority: "high", draggable: "false", aria: { hidden: true }, tabindex: "-1")
      = image_tag(wood_img['.avif'], loading: "eager", decoding: "async", fetchpriority: "high", draggable: "false", aria: { hidden: true }, tabindex: "-1")
      = image_tag(wood_img['.avif'], loading: "eager", decoding: "async", fetchpriority: "high", draggable: "false", aria: { hidden: true }, tabindex: "-1")
    .pre-book
      .paper-container
        = image_tag(paper_img['.avif'], loading: "eager", decoding: "async", fetchpriority: "high", draggable: "false", aria: { hidden: true }, tabindex: "-1", class: "before")
        = image_tag(paper_img['.avif'], loading: "eager", decoding: "async", fetchpriority: "high", draggable: "false", aria: { hidden: true }, tabindex: "-1", class: "main")
        = image_tag(paper_img['.avif'], loading: "eager", decoding: "async", fetchpriority: "high", draggable: "false", aria: { hidden: true }, tabindex: "-1", class: "after")
        %h1= t('homepage.index.metaverse_article_title')
        %p= t('homepage.index.zuckerberg_rebrand')
        %p= t('homepage.index.not_one_product')
        %p= t('homepage.index.sounds_cool')
        %p= t('homepage.index.know_they_are_bad')
        %p= t('homepage.index.metaverse_hook')
        %p= t('homepage.index.meta_charging')
        %p= t('homepage.index.open_source_rival')
        %p= t('homepage.index.digital_life_inevitable')
        %p= t('homepage.index.reclaim_potential')
    .cta-container-container
      .cta-xai-particles{"data-controller" => "cta-particles"}
      .cta-xai-effect
      .cta-container{"data-controller" => "hyperspace"}
        %h2= t('homepage.index.take_control')
        %p= t('homepage.index.help_build_alternative')
        %form{ action: "/create-account", method: "get"}
          %button.action{ type: "submit", "data-hyperspace-target" => "button", "data-action" => "click->hyperspace#toggle" } Create Account
.cta-xai-particles
