%body
  = render "layouts/sidebar"
  = render "layouts/drawer"
  = render "layouts/leniswrapper" do
    = render "layouts/navigationshortcutswrapper" do
      .hp-bg{"data-controller" => "raindrop", "data-raindrop-background-url-value" => bitmap_image_data_url("images/garage").to_s, :role => "presentation"}
        %canvas.raindrop-canvas
      .hp-centerify
        %header.hp-main{role: "banner"}
          %h1.large= t('homepage.index.brand')
          %span.small{"aria-hidden" => "true", :tabindex => "-1"}
            = t('homepage.index.libre_word')
            %br>/
            = t('homepage.index.verse_word')
        %section{"aria-labelledby" => "intro-heading"}
          %h2.hp-secondary#intro-heading
            = t('homepage.index.tagline')
          %section{"aria-labelledby" => "principle-heading"}
            %h3.hp-sectionheader#principle-heading The principle:
            %article{"aria-labelledby" => "principle-heading", :itemscope => "", :itemtype => "https://schema.org/Article"}
              %p.hp-text{itemprop: "description"}
                = t('homepage.index.article_excerpt')
              %p.hp-italic-text
                %a.hp-inline-link{"aria-label" => t('homepage.index.read_full_article_aria'), :href => "https://libreverse.io"}= t('homepage.index.read_full_article')
                (#{t('homepage.index.article_written_by')}
                = succeed ")" do
                  %a.hp-inline-link{href: "https://geor.me/", itemprop: "author", itemscope: "", itemtype: "https://schema.org/Person"}
                    %span{itemprop: "name"} George Baskerville
              %meta{content: "2021-10-28", itemprop: "datePublished"}/
          %section{"aria-labelledby" => "getting-started-heading"}
            %h3.hp-sectionheader#getting-started-heading How to get started:
            %p.hp-text
              = t('homepage.index.search_prompt')
            %a.hp-link{"aria-label" => t('homepage.index.search_link_aria'), :href => "/search"}= t('homepage.index.search_link')
