- experiences.each do |experience|
  .sp-experience{ class: experience.federated? ? 'federated-experience' : experience.metaverse? ? 'metaverse-experience' : 'local-experience',
                  data: {
                    controller: "glass",
                    "glass-enable-glass-value": true,
                    "glass-component-type-value": "card",
                    "glass-glass-type-value": "rounded",
                    "glass-border-radius-value": 5,
                    "glass-tint-opacity-value": 0.1,
                    "html2canvas-ignore": "true"
                  } }
    - if experience.federated?
      -# Federated experience link
      = link_to experience.experience_url, class: "experience-link federated-link", target: "_blank", rel: "noopener" do
        %article{itemscope: "", itemtype: "https://schema.org/CreativeWork"}
          %h3{itemprop: "name"}
            = sanitize experience.title
          %div{itemprop: "description"}
            %p.federated-description
              = t('search.federated_experience_description', domain: experience.source_domain)
          %p.sp-author
            %span.federated-source
              = t('search.from_instance', domain: experience.source_domain)
    - elsif experience.metaverse?
      -# Metaverse experience link
      = link_to experience.experience_url, class: "experience-link metaverse-link", target: "_blank", rel: "noopener" do
        %article{itemscope: "", itemtype: "https://schema.org/CreativeWork"}
          %h3{itemprop: "name"}
            = sanitize experience.title
          %div{itemprop: "description"}
            = sanitize simple_format(experience.description)
          %p.sp-author
            %span.metaverse-source
              = t('search.from_platform', platform: experience.metaverse_platform.humanize)
    - else
      -# Local experience (using unified interface)
      = link_to experience.display_path, class: "experience-link" do
        %article{itemscope: "", itemtype: "https://schema.org/CreativeWork"}
          %h3{itemprop: "name"}= sanitize experience.title
          %div{itemprop: "description"}
            = sanitize simple_format(experience.description)
          - if experience.author.present?
            %p.sp-author
              %span{itemprop: "author", itemscope: "", itemtype: "https://schema.org/Person"}
                = t('experiences.experiences_list.by')
                %span{itemprop: "name"}= sanitize experience.author
