<%= render "layouts/sidebar" %>
<%= render "layouts/drawer" %>
<%= render "layouts/leniswrapper" do %>
  <%= render "layouts/shortcutswrapper" do %>

    <% content_for :specifcstylesheets do %>
      <%= vite_stylesheet_tag "~/stylesheets/search.scss" %>
    <% end %>

    <% content_for :fontpreloads do %>
      <link
        rel="preload"
        href="<%= vite_asset_path '~/fonts/Lazer84.woff2' %>"
        as="font"
        type="font/woff2"
        crossorigin
      >
      <link
        rel="preload"
        href="<%= vite_asset_path '~/fonts/Hack-Regular.woff2' %>"
        as="font"
        type="font/woff2"
        crossorigin
      >
      <link
        rel="preload"
        href="<%= vite_asset_path '~/fonts/Hack-Italic.woff2' %>"
        as="font"
        type="font/woff2"
        crossorigin
      >
    <% end %>

    <div class="sp-bg" role="presentation">
      <img
        src="<%= vite_asset_path "images/brasserie.jpg" %>"
        srcset="<%= vite_asset_path "images/brasserie.avif" %>, <%= vite_asset_path "images/brasserie.webp" %>, <%= vite_asset_path "images/brasserie.jxl" %>"
        loading="eager"
        decoding="sync"
        fetchpriority="high"
        draggable="false"
        aria-hidden="true"
        tabindex="-1"
      >
    </div>

    <div class="sp-centerify">
      <header class="sp-main" role="banner">
        <h1 class="large">Search Experiences</h1>
        <span class="small" aria-hidden="true" tabindex="-1">Search<br>Experiences</span>
      </header>

      <main>
        <section aria-labelledby="search-heading">
          <h2 id="search-heading" class="sp-sectionheader">Find Your Next Experience in the Libreverse</h2>
          <div class="sp-search-bar">
            <input
              type="text"
              id="search"
              class="sp-search-bar-input"
              placeholder="Search for an experience"
              value="<%= params[:query] %>"
              data-controller="search-url-updater"
              data-reflex="keyup->SearchReflex#perform"
              data-reflex-root="true"
              autocomplete="off"
              aria-label="Search Experiences"
            >
          </div>
          <div id="experiences_list" class="sp-experiences-list">
            <%= render partial: "search/experiences_list", locals: { experiences: @experiences } %>
          </div>
        </section>
        <!-- Temporary: Create Experience Form -->
        <section>
          <h2 class="experience-form-heading">Create a New Experience</h2>

          <%= form_with(model: @experience, url: experiences_path, local: true, class: "experience-form") do |form| %>
            <div class="form-group">
              <%= form.label :title %>
              <%= form.text_field :title, class: "form-input", placeholder: "Title" %>
            </div>
            <div class="form-group">
              <%= form.label :description %>
              <%= form.text_area :description, class: "form-textarea", placeholder: "Description" %>
            </div>
            <div class="form-group">
              <%= form.label :author %>
              <%= form.text_field :author, class: "form-input", placeholder: "Author" %>
            </div>
            <%= form.submit "Create Experience", class: "form-submit" %>
          <% end %>
        </section>
        <!-- End Temporary: Create Experience Form -->
      </main>
    </div>
  <% end %>
<% end %>
