<%= render "layouts/sidebar" %>
<%= render "layouts/drawer" %>
<%= render "layouts/leniswrapper" do %>
  <%= render "layouts/navigationshortcutswrapper" do %>
    <% include_stylesheet "search" %>
    <% content_for :fontpreloads do %>
      <link
        rel="preload"
        href="<%= vite_asset_path '~/fonts/Lazer84.woff2' %>"
        as="font"
        type="font/woff2"
        crossorigin
      >
      <link
        rel="preload"
        href="<%= vite_asset_path '~/fonts/Hack-Regular.woff2' %>"
        as="font"
        type="font/woff2"
        crossorigin
      >
      <link
        rel="preload"
        href="<%= vite_asset_path '~/fonts/Hack-Italic.woff2' %>"
        as="font"
        type="font/woff2"
        crossorigin
      >
    <% end %>
    <div class="sp-bg" role="presentation">
      <img
        src="<%= vite_asset_path "images/brasserie.jpg" %>"
        srcset="<%= vite_asset_path "images/brasserie.avif" %>, <%= vite_asset_path "images/brasserie.webp" %>, <%= vite_asset_path "images/brasserie.jxl" %>"
        loading="eager"
        decoding="sync"
        fetchpriority="high"
        draggable="false"
        aria-hidden="true"
        tabindex="-1"
      >
    </div>

    <div class="sp-centerify">
      <header class="sp-main" role="banner">
        <h1 class="large">Search Experiences</h1>
        <span class="small" aria-hidden="true" tabindex="-1">Search<br>Experiences</span>
      </header>

      <main>
        <section aria-labelledby="search-heading">
          <h2 id="search-heading" class="sp-sectionheader">Find Your Next Experience in the Libreverse</h2>
          <div class="sp-search-bar">
            <input
              type="text"
              id="search"
              class="sp-search-bar-input"
              placeholder="Search for an experience"
              value="<%= params[:query] %>"
              data-controller="search-url-updater"
              data-reflex="input->SearchReflex#perform"
              data-reflex-root="true"
              autocomplete="off"
              aria-label="Search Experiences"
            >
          </div>
          <div id="experiences_list" class="sp-experiences-list">
            <%= render partial: "search/experiences_list", locals: { experiences: @experiences } %>
          </div>
        </section>
      </main>
    </div>
  <% end %>
<% end %>
