<%= render "layouts/sidebar" %>
<%= render "layouts/drawer" %>
<%= render "layouts/leniswrapper" do %>
  <%= render "layouts/navigationshortcutswrapper" do %>
    <div class="sp-bg" role="presentation">
      <img
        src="<%= vite_asset_path 'images/brasserie.jpg' %>"
        <%# Fallback %>
        srcset="<%= bitmap_image_data_url('images/brasserie') %>, <%= vite_asset_path 'images/brasserie.webp' %>, <%= vite_asset_path 'images/brasserie.jpg' %>"
        <%# Efficient inline, then external fallbacks %>
        loading="lazy"
        decoding="async"
        fetchpriority="low"
        draggable="false"
        aria-hidden="true"
        tabindex="-1"
      >
    </div>

    <div class="sp-centerify">
      <header class="sp-main" role="banner">
        <h1 class="large">Search Experiences</h1>
        <span class="small" aria-hidden="true" tabindex="-1">Search<br>Experiences</span>
      </header>

      <main>
        <% unless tutorial_dismissed?("search-tutorial") %>
          <div data-controller="dismissible">
            <div
              id="search-tutorial"
              class="search-tutorial"
              data-dismissible-key-value="search-tutorial"
              data-dismissible-target="container"
            >
              <div class="tutorial-dismiss">
                <button class="dismiss-button" data-action="dismissible#dismiss">
                  <img
                    src="<%= svg_icon_data_url('x') %>"
                    alt="Close"
                    width="16"
                    height="16"
                    class="feather feather-x"
                    aria-hidden="true"
                  >
                </button>
              </div>
              <h2 class="tutorial-heading">Search Guide</h2>
              <p class="tutorial-description">Type keywords to find experiences in the Libreverse. Results
                will appear as you type.</p>
            </div>
          </div>
        <% end %>

        <section aria-labelledby="search-heading">
          <div class="sp-search-bar">
            <input
              type="text"
              id="search"
              class="sp-search-bar-input"
              placeholder="Search for an experience"
              value="<%= params[:query] %>"
              data-controller="search-url-updater"
              data-reflex="input->SearchReflex#perform"
              data-reflex-root="true"
              autocomplete="off"
              aria-label="Search Experiences"
            >
          </div>
          <div id="experiences_list" class="sp-experiences-list">
            <%= render partial: "search/experiences_list", locals: { experiences: @experiences } %>
          </div>
        </section>
      </main>
    </div>
  <% end %>
<% end %>
