.consent-overlay{ "data-controller" => "consent" }
  .consent-card
    %h1= t('.title')
    %p= t('.access_message_html', privacy_policy_link: link_to(t('policies.privacy_policy'), privacy_policy_path, target: '_blank'), cookie_policy_link: link_to(t('policies.cookie_policy'), cookie_policy_path, target: '_blank')).html_safe
    %p= t('.remember_info_html')
    %p.small= t('.english_only_notice')
    .checkbox-row
      %input{ type: "checkbox", id: "remember_opt_in", 'data-consent-target' => "checkbox" }
      %label{ for: "remember_opt_in" }= t('.remember_opt_in_label')
    .btn-row
      %button.btn-primary{ type: "button", 'data-action' => "click->consent#accept" }
        = t('.agree_and_continue')
    .btn-row
      %button.btn-secondary{ type: "button", 'data-action' => "click->consent#decline" }
        = t('.decline')
