%h1 Metaverse Indexers

.row
  .col-md-8
    %h2 Available Indexers
    
    - if @indexers.any?
      .table-responsive
        %table.table.table-striped
          %thead
            %tr
              %th Platform
              %th Status
              %th Last Run
              %th Items Processed
              %th Actions
          %tbody
            - @indexers.each do |platform_name, indexer_info|
              %tr{class: indexer_info[:enabled] ? '' : 'table-secondary'}
                %td
                  = link_to platform_name.humanize, admin_indexer_path(platform_name), class: 'fw-bold'
                  - unless indexer_info[:exists]
                    %span.badge.bg-warning.ms-2 Not Implemented
                %td
                  - if indexer_info[:enabled]
                    %span.badge.bg-success Enabled
                  - else
                    %span.badge.bg-secondary Disabled
                %td
                  - last_run = IndexingRun.latest_for_indexer("Metaverse::#{platform_name.camelize}Indexer")
                  - if last_run
                    = time_ago_in_words(last_run.completed_at || last_run.started_at)
                    ago
                    %br
                    %small.text-muted= last_run.status.humanize
                  - else
                    %span.text-muted Never run
                %td
                  - if last_run
                    = last_run.items_processed
                    - if last_run.items_failed > 0
                      %span.text-danger
                        (#{last_run.items_failed} failed)
                  - else
                    %span.text-muted -
                %td
                  - if indexer_info[:exists] && indexer_info[:enabled]
                    = link_to 'Run Now', run_admin_indexer_path(platform_name), 
                              method: :post, class: 'btn btn-sm btn-primary',
                              confirm: "Are you sure you want to run the #{platform_name} indexer?"
                  = link_to 'View', admin_indexer_path(platform_name), class: 'btn btn-sm btn-outline-secondary'
    - else
      .alert.alert-info
        No indexers configured. Check config/indexers.yml
        
  .col-md-4
    %h2 System Status
    
    .card
      .card-header
        %h5 Recent Activity
      .card-body
        - if @indexing_runs&.any?
          - @indexing_runs.each do |run|
            .d-flex.justify-content-between.align-items-center.border-bottom.py-2
              .div
                %strong= run.indexer_platform_name.humanize
                %br
                %small.text-muted= run.status.humanize
              .div
                %small.text-muted= time_ago_in_words(run.started_at) + ' ago'
        - else
          %p.text-muted No recent activity
          
    .card.mt-3
      .card-header
        %h5 Quick Actions
      .card-body
        = link_to 'View All Runs', admin_indexing_runs_path, class: 'btn btn-outline-primary btn-sm'
        = link_to 'Run All Enabled', '#', class: 'btn btn-outline-success btn-sm ms-2', 
                  onclick: "alert('Feature coming soon!')"
