<%# app/views/experiences/_experiences_list.html.erb %>
<% experiences.each do |experience| %>
  <div class="sp-experience">
    <%= link_to display_experience_path(experience), class: "experience-link" do %>
      <article itemscope itemtype="https://schema.org/CreativeWork">
        <h3 itemprop="name"><%= sanitize experience.title %></h3>
        <div itemprop="description">
          <%= sanitize simple_format(experience.description) %>
        </div>
        <% if experience.author.present? %>
          <p class="sp-author">
            <span itemprop="author" itemscope itemtype="https://schema.org/Person">
              By
              <span itemprop="name"><%= sanitize experience.author %></span>
            </span>
          </p>
        <% end %>
        <% if experience.created_at.present? %>
          <p class="creation-date">Created at:
            <%= experience.created_at.strftime("%B %d, %Y") %></p>
        <% end %>
        <% unless experience.approved? %>
          <p class="status-tag pending">Awaiting approval</p>
        <% end %>
      </article>
    <% end %>
    <div class="experience-actions">
      <% if current_account&.admin? && !experience.approved? %>
        <%= button_to approve_experience_path(experience), method: :patch, class: "experience-action-left approve-action" do %>
          Approve
        <% end %>
      <% end %>
      <%= link_to edit_experience_path(experience), class: "experience-action-left edit-action" do %>
        Edit Details
      <% end %>
      <%= button_to experience_path(experience), method: :delete, class: "experience-action-right delete-action", form: { data: { turbo_confirm: "Are you sure you want to delete this experience?" } } do %>
        Delete
      <% end %>
    </div>
  </div>
<% end %>
