<%= render 'layouts/leniswrapper' do %>
  <%= render 'layouts/navigationshortcutswrapper' do %>
    <% content_for :specifcstylesheets do %>
      <%= vite_stylesheet_tag "~/stylesheets/changepassword.scss" %>
    <% end %>
    <% content_for :fontpreloads do %>
      <link
        rel="preload"
        href="<%= vite_asset_path '~/fonts/Hack-Regular.woff2' %>"
        as="font"
        type="font/woff2"
        crossorigin
      >
    <% end %>
    
    <div class="changepassword-bg" role="presentation"></div>
    
    <!-- Lamp effect with conical gradients -->
    <div class="lamp-effect-wrapper">
      <div class="lamp-effect">
        <div class="lamp-left-beam"></div>
        <div class="lamp-right-beam"></div>
        <div class="lamp-center-glow"></div>
        <div class="lamp-line"></div>
      </div>
    
      <div class="changepassword-container">
        <div class="changepassword-card">
          <div class="changepassword-header">
            <h1>Change Password</h1>
            <p>Please update your password for security reasons</p>
          </div>
          
          <%= form_with url: rodauth.change_password_path, method: :post, data: { 
                controller: "form-auto-submit",
                form_auto_submit_target: "form",
                form_auto_submit_debounce_time_value: 800
              } do |form| %>
            <div class="changepassword-form-group">
              <% if rodauth.change_password_requires_password? %>
                <%= form.label rodauth.password_label, class: "changepassword-form-label" %>
                <%= form.text_field rodauth.password_param, 
                                value: "", 
                                id: "password", 
                                autocomplete: "current-password", 
                                required: true,
                                data: { form_auto_submit_target: "input" },
                                class: "changepassword-form-control #{"is-invalid" if rodauth.field_error(rodauth.password_param)}" %>
                <%= if rodauth.field_error(rodauth.password_param)
                  content_tag(
                    :span,
                    rodauth.field_error(rodauth.password_param),
                    class: "changepassword-invalid-feedback",
                    id: "password_error_message"
                  )
                end %>
              <% end %>
            </div>
            
            <div class="changepassword-form-group">
              <%= form.label rodauth.new_password_label, class: "changepassword-form-label" %>
              <%= form.text_field rodauth.new_password_param, 
                              value: "", 
                              id: "new-password", 
                              autocomplete: "new-password", 
                              required: true,
                              data: { form_auto_submit_target: "input" },
                              class: "changepassword-form-control #{"is-invalid" if rodauth.field_error(rodauth.new_password_param)}" %>
              <%= if rodauth.field_error(rodauth.new_password_param)
                content_tag(
                  :span,
                  rodauth.field_error(rodauth.new_password_param),
                  class: "changepassword-invalid-feedback",
                  id: "new_password_error_message"
                )
              end %>
            </div>
            
            <% if rodauth.require_password_confirmation? %>
            <div class="changepassword-form-group">
              <%= form.label rodauth.password_confirm_label, class: "changepassword-form-label" %>
              <%= form.text_field rodauth.password_confirm_param, 
                              value: "", 
                              id: "password-confirm", 
                              autocomplete: "new-password", 
                              required: true,
                              data: { form_auto_submit_target: "input" },
                              class: "changepassword-form-control #{"is-invalid" if rodauth.field_error(rodauth.password_confirm_param)}" %>
              <%= if rodauth.field_error(rodauth.password_confirm_param)
                content_tag(
                  :span,
                  rodauth.field_error(rodauth.password_confirm_param),
                  class: "changepassword-invalid-feedback",
                  id: "password_confirm_error_message"
                )
              end %>
            </div>
            <% end %>
            
            <div class="changepassword-password-requirements">
              <h4>Password Requirements:</h4>
              <ul>
                <li>At least <%= rodauth.password_minimum_length %> characters</li>
                <li>Not found in known data breaches</li>
                <li>Different from your current password</li>
              </ul>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
<% end %> 