<%= render 'layouts/leniswrapper' do %>
  <%= render 'layouts/navigationshortcutswrapper' do %>
    <% content_for :specifcstylesheets do %>
      <%= vite_stylesheet_tag "~/stylesheets/changepassword.scss" %>
    <% end %>
    <% content_for :fontpreloads do %>
      <link
        rel="preload"
        href="<%= vite_asset_path '~/fonts/Hack-Regular.woff2' %>"
        as="font"
        type="font/woff2"
        crossorigin
      >
    <% end %>
    
    <div class="changepassword-bg" role="presentation"></div>
    
    <!-- Lamp effect with conical gradients -->
    <div class="changepassword-lamp-effect">
      <div class="changepassword-lamp-left-beam"></div>
      <div class="changepassword-lamp-right-beam"></div>
      <div class="changepassword-lamp-center-glow"></div>
      <div class="changepassword-lamp-line"></div>
    </div>
    
    <div class="changepassword-container">
      <div class="changepassword-card">
        <div class="changepassword-header">
          <h1>Change Password</h1>
          <p>Please update your password for security reasons</p>
        </div>
        
        <%= form_with url: rodauth.change_password_path, method: :post, data: { turbo: false } do |form| %>
          <div class="changepassword-form-group">
            <% if rodauth.change_password_requires_password? %>
              <%= form.label rodauth.password_label, class: "changepassword-form-label" %>
              <%= form.password_field rodauth.password_param, value: "", id: "password", autocomplete: "current-password", class: "changepassword-form-control" %>
            <% end %>
          </div>
          
          <div class="changepassword-form-group">
            <%= form.label rodauth.new_password_label, class: "changepassword-form-label" %>
            <%= form.password_field rodauth.new_password_param, value: "", id: "new-password", autocomplete: "new-password", class: "changepassword-form-control" %>
          </div>
          
          <% if rodauth.require_password_confirmation? %>
          <div class="changepassword-form-group">
            <%= form.label rodauth.password_confirm_label, class: "changepassword-form-label" %>
            <%= form.password_field rodauth.password_confirm_param, value: "", id: "password-confirm", autocomplete: "new-password", class: "changepassword-form-control" %>
          </div>
          <% end %>
          
          <div class="changepassword-password-requirements">
            <h4>Password Requirements:</h4>
            <ul>
              <li>At least <%= rodauth.password_minimum_length %> characters</li>
              <li>Not found in known data breaches</li>
              <li>Different from your current password</li>
            </ul>
          </div>
          
          <div class="changepassword-form-group">
            <%= form.submit rodauth.change_password_button, class: "changepassword-btn changepassword-btn-primary" %>
          </div>
        <% end %>
        
        <div class="changepassword-footer">
          <a href="/">Return to Home</a>
        </div>
      </div>
    </div>
  <% end %>
<% end %> 