= render "layouts/sidebar"

= render "layouts/leniswrapper" do
  = render "layouts/navigationshortcutswrapper" do
    .login-bg{role: "presentation"}
    / Lamp effect with conical gradients
    .lamp-effect-wrapper
      .lamp-effect
        .lamp-left-beam
        .lamp-right-beam
        .lamp-center-glow
        .lamp-line
      .login-container
  .login-card.glass.glass-card-base
          .login-header
            %h1 Welcome Back
            %p Sign in with your username or federated identifier
          != rodauth.login_form_header
          = render "login_form"

          .login-info
            %p.text-muted.small
              You can sign in using:
            %ul.login-options.text-muted.small
              %li Your local username: #{current_instance_domain ? "username" : "username"}
              %li Your full federated ID: @username@#{current_instance_domain}
              %li Remote federated ID: @username@other-instance.com

          .login-footer
            = t('rodauth.login.footer_no_account')
            %a{href: rodauth.create_account_path.to_s}= t('rodauth.login.sign_up')
