<%= render "layouts/sidebar" %>
<%= render "layouts/drawer" %>
<%= render 'layouts/leniswrapper' do %>
  <%= render 'layouts/navigationshortcutswrapper' do %>
    <div class="login-bg" role="presentation"></div>
    <!-- Lamp effect with conical gradients -->
    <div class="lamp-effect-wrapper">
      <div class="lamp-effect">
        <div class="lamp-left-beam"></div>
        <div class="lamp-right-beam"></div>
        <div class="lamp-center-glow"></div>
        <div class="lamp-line"></div>
      </div>

      <div class="login-container">
        <div class="login-card">
          <div class="login-header">
            <h1>Multi-Factor Authentication</h1>
            <p>Please complete the verification</p>
          </div>

          <%== rodauth.login_form_header %>
          <%== rodauth.render_multi_phase_login_forms %>
          <%== rodauth.login_form_footer %>

          <div class="login-footer">
            Need help?
            <a href="<%= rodauth.login_path %>">Return to login</a>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
