-# Link to the adguard extra script first in order to override other scripts if needed
= javascript_include_tag "/proxy/userscripts/adguard-extra.js", data: {turbo_track: "reload"}
-# In dev we want the stylesheets to come from vite for HMR. In prod we want then inlined to avoid FOUC
- if Rails.env.production?
    = inline_vite_stylesheet "~/javascript/application.js"
- else
    = vite_stylesheet_tag "~/stylesheets/application.scss", data: {turbo_track: "reload"}
-# Vite client for HMR
= vite_client_tag data: {turbo_track: "reload"}
-# Load the main javascript bundle
= vite_javascript_tag "~/javascript/application.js", data: {turbo_track: "reload"}
-# Load supplemental javascript assets
:javascript
  window.__REACT_DEVTOOLS_GLOBAL_HOOK__ = { isDisabled: true };
  <% timeago_root =
    File.join(
      Gem.loaded_specs["timeago_js"].full_gem_path,
      "assets",
      "javascripts",
    ) %>
  import "<%= File.join(timeago_root, "timeago.js") %>";
  <%= %w[de pt_BR].map do |locale|
    %(import "#{File.join(timeago_root, "locales/#{locale}.js")}";)
  end * "\n" %>
  <%= Thredded::WebpackAssets.javascripts %>
-# Load in react-rails bit for some of the 3D code
= javascript_pack_tag 'generated/MetaversePreview', data: {turbo_track: "reload"}
= stylesheet_pack_tag, data: {turbo_track: "reload"}