%p= t('layouts.default_drawer.intro_html').html_safe
%ul
  %li
    %a.drawer-link{href: "https://github.com/twitter/twemoji?tab=readme-ov-file"}= t('layouts.default_drawer.libreverse_twemoji')
    = t('layouts.default_drawer.modified_from')
    %a.drawer-link{href: "https://github.com/twitter/twemoji?tab=readme-ov-file"} Twemoji
    = t('layouts.default_drawer.by')
    %a.drawer-link{href: "https://x.com"} X Corp
    = t('layouts.default_drawer.licensed_under')
    %a.drawer-link{href: "https://raw.githubusercontent.com/twitter/twemoji/refs/heads/master/LICENSE-GRAPHICS"} CC-BY-4.0
