- drawer_id = local_assigns.fetch(:drawer_id, "main")
- expanded = local_assigns.key?(:expanded) ? expanded : drawer_expanded?(drawer_id)
%aside.drawer-container{:id => "#{drawer_id}-drawer", :role => "complementary", "data-controller" => "drawer"}
  %div{"aria-labelledby" => "drawer-title-#{drawer_id}", :class => "drawer #{'drawer-expanded' if expanded}", "data-drawer-id" => drawer_id, "data-expanded" => expanded}
    .drawer-header
      %h2.drawer-title{id: "drawer-title-#{drawer_id}"}
        - if content_for?(:drawer_title)
          = yield(:drawer_title)
        - else
          Attribution
      %button.drawer-toggle{"aria-controls" => "drawer-content-#{drawer_id}", "aria-expanded" => expanded, "aria-label" => "Toggle drawer", "data-action" => "drawer#toggle", "data-reflex-root" => "##{drawer_id}-drawer, body", :type => "button"}
        %img{:alt => "Toggle drawer", :class => "drawer-icons #{'rotated' if expanded}", "data-drawer-target" => "icon", :decoding => "async", :draggable => "false", :fetchpriority => "low", :loading => "lazy", :src => svg_icon_data_url("chevron-up").to_s}
    .drawer-contents{"data-drawer-target" => "content", :id => "drawer-content-#{drawer_id}"}
      .drawer-content-container
        .drawer-content
          - if content_for?(:drawer)
            = yield(:drawer)
          - else
            = render "layouts/default_drawer_content"
