<% include_stylesheet "drawer" %>
<% drawer_id = local_assigns.fetch(:drawer_id, "main") %>
<% expanded = session["drawer_expanded_#{drawer_id}".to_sym] == true %>
<aside class="drawer-container" role="complementary" data-controller="drawer">
  <div
    class="drawer <%= 'drawer-expanded' if expanded %>"
    data-drawer-id="<%= drawer_id %>"
    data-expanded="<%= expanded %>"
    aria-labelledby="drawer-title-<%= drawer_id %>"
  >
    <div class="drawer-header">
      <h2 id="drawer-title-<%= drawer_id %>" class="drawer-title">
        <% if content_for?(:drawer_title) %>
          <%= yield(:drawer_title) %>
        <% else %>
          Attribution
        <% end %>
      </h2>
      <button
        class="drawer-toggle"
        type="button"
        data-action="drawer#toggle"
        aria-label="Toggle drawer"
        aria-expanded="<%= expanded %>"
        aria-controls="drawer-content-<%= drawer_id %>"
      >
        <img
          src="<%= vite_asset_path "~/icons/chevron-up.svg" %>"
          class="drawer-icons <%= 'rotated' if expanded %>"
          loading="eager"
          decoding="async"
          fetchpriority="high"
          draggable="false"
          alt="Toggle drawer"
          data-drawer-target="icon"
        >
      </button>
    </div>
    <div
      class="drawer-contents"
      id="drawer-content-<%= drawer_id %>"
      data-drawer-target="content"
      data-reflex-permanent
    >
      <div class="drawer-content-container">
        <div class="drawer-content">
          <% if content_for?(:drawer) %>
            <%= yield(:drawer) %>
          <% else %>
            <%= render("layouts/default_drawer_content") %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</aside>
