/ Basic HTML metadata
%meta{charset: "utf-8"}/
%meta{content: "width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0,viewport-fit=cover", name: "viewport"}/
%meta{content: seo_config("description").to_s, name: "description"}/
%meta{content: seo_config("keywords").to_s, name: "keywords"}/
%meta{content: seo_config_with_assets("preview_image").to_s, name: "image"}/
%meta{content: seo_config("theme_color").to_s, name: "theme-color"}/
%meta{content: "all", name: "robots"}/
%meta{content: "no-referrer-when-downgrade", name: "referrer"}/
%meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
%meta{:content => seo_config("onion_url").to_s, "http-equiv" => "onion-location"}/
%title
  - if content_for?(:title)
    = yield(:title)
  - else
    = seo_config("name")
%link{href: seo_config("url").to_s, rel: "canonical"}/
%link{href: seo_config("homepage").to_s, rel: "home"}/
%link{href: seo_config_with_assets("shortcut_icon").to_s, rel: "shortcut icon", type: "image/x-icon"}/
%link{href: seo_config_with_assets("apple_touch_icon").to_s, rel: "apple-touch-icon", type: "image/x-icon"}/
%link{color: seo_config("mask_icon_color").to_s, href: seo_config_with_assets("mask_icon").to_s, rel: "mask-icon", sizes: "any"}/
/ Additional favicon formats for better cross-browser support
%link{href: "/favicon-16x16.png", rel: "icon", sizes: "16x16", type: "image/png"}/
%link{href: "/favicon-32x32.png", rel: "icon", sizes: "32x32", type: "image/png"}/
%link{href: "/favicon-96x96.png", rel: "icon", sizes: "96x96", type: "image/png"}/
%link{href: "/apple-touch-icon.png", rel: "apple-touch-icon", sizes: "180x180"}/
%link{href: "/site.webmanifest", rel: "manifest"}/
%link{href: "/manifest.json", rel: "manifest"}/
%meta{content: "/browserconfig.xml", name: "msapplication-config"}/
%meta{content: seo_config("theme_color").to_s, name: "msapplication-TileColor"}/
/ Schema.org metadata
%script{type: "application/ld+json"}
  :cdata
    {
    "@context": "https://schema.org",
    "@type": "WebApplication",
    "name": "#{seo_config('name')}",
    "url": "#{seo_config('url')}",
    "description": "#{seo_config('description')}",
    "applicationCategory": "Communication",
    "operatingSystem": "All",
    "image": "#{seo_config('preview_image_url')}",
    "inLanguage": "#{seo_config('locale')}"
    }
/ Open Graph metadata
%meta{content: seo_config("name").to_s, property: "og:site_name"}/
%meta{content: (content_for?(:og_title) ? yield(:og_title) : seo_config("page_name")).to_s, property: "og:title"}/
%meta{content: "website", property: "og:type"}/
%meta{content: seo_config("url").to_s, property: "og:url"}/
%meta{content: seo_config_with_assets("preview_image").to_s, property: "og:image"}/
%meta{content: seo_config_with_assets("preview_image").to_s, property: "og:image:url"}/
%meta{content: seo_config_with_assets("preview_image").to_s, property: "og:image:secure_url"}/
%meta{content: seo_config("preview_image_type").to_s, property: "og:image:type"}/
%meta{content: seo_config("preview_image_width").to_s, property: "og:image:width"}/
%meta{content: seo_config("preview_image_height").to_s, property: "og:image:height"}/
%meta{content: seo_config("preview_image_alt").to_s, property: "og:image:alt"}/
%meta{content: seo_config("description").to_s, property: "og:description"}/
%meta{content: seo_config("determiner").to_s, property: "og:determiner"}/
%meta{content: seo_config("locale").to_s, property: "og:locale"}/
/ Facebook-specific metadata
%meta{content: "https://www.facebook.com/yourpage", property: "article:publisher"}/
%meta{content: "Libreverse, libreverse, metaverse, open-source, FOSS", property: "article:tag"}/
%meta{content: seo_config("facebook_admins").to_s, property: "fb:admins"}/
%meta{content: seo_config("facebook_app_id").to_s, property: "fb:app_id"}/
%meta{content: seo_config("facebook_pages").to_s, property: "fb:pages"}/
%meta{content: seo_config("facebook_profile_id").to_s, property: "fb:profile_id"}/
/ X/Twitter metadata
%meta{content: "summary_large_image", name: "twitter:card"}/
%meta{content: seo_config("domain").to_s, name: "twitter:domain"}/
%meta{content: seo_config("twitter_site").to_s, name: "twitter:site"}/
%meta{content: seo_config("twitter_creator").to_s, name: "twitter:creator"}/
%meta{content: seo_config("name").to_s, name: "twitter:title"}/
%meta{content: seo_config("description").to_s, name: "twitter:description"}/
%meta{content: seo_config_with_assets("preview_image").to_s, name: "twitter:image"}/
%meta{content: seo_config("preview_image_alt").to_s, name: "twitter:image:alt"}/
%meta{content: seo_config("url").to_s, name: "twitter:url"}/
/ Old windows pin-to-taskbar metadata
%meta{content: seo_config("windows7_tooltip").to_s, name: "msapplication-tooltip"}/
%meta{content: seo_config("windows7_starturl").to_s, name: "msapplication-starturl"}/
%meta{content: seo_config("windows7_tooltip").to_s, name: "msapplication-task"}/
/ Mobile App Metadata
%meta{content: "yes", name: "mobile-web-app-capable"}/
%meta{content: "yes", name: "apple-mobile-web-app-capable"}/
%meta{content: seo_config("name").to_s, name: "apple-mobile-web-app-title"}/
%meta{content: seo_config("theme_color").to_s, name: "apple-mobile-web-app-status-bar-style"}/
%meta{content: seo_config("apple_app_store_app").to_s, name: "apple-itunes-app"}/
/ Site verification tags
%meta{content: seo_config("google_site_verification").to_s, name: "google-site-verification"}/
%meta{content: seo_config("bing_site_verification").to_s, name: "msvalidate.01"}/
%meta{content: seo_config("pinterest_site_verification").to_s, name: "p:domain_verify"}/
%meta{content: seo_config("yandex_site_verification").to_s, name: "yandex-verification"}/
%meta{content: seo_config("norton_site_verification").to_s, name: "norton-safeweb-site-verification"}/
/ Mastodoon and similar fedi metadata
%link{href: seo_config("mastodon_link").to_s, rel: "me"}/
