<%# Extracted nav content %>
<%# Local variables needed: sidebar_id, expanded, hover_enabled, rodauth %>
<%# Ensure all values use the 't'/'f' pattern for consistency %>
<nav
  class="sidebar <%= 'sidebar-hovered' if hover_enabled == 't' %>"
  id="sidebar-nav-<%= sidebar_id %>"
  data-controller="sidebar"
  data-action="mouseenter->sidebar#toggleHover mouseleave->sidebar#toggleHover"
  data-sidebar-id="<%= sidebar_id %>"
  data-expanded="<%= hover_enabled == 't' ? "true" : "false" %>"
  data-hover-enabled="<%= hover_enabled == 't' ? "true" : "false" %>"
  role="navigation"
  aria-label="Navigation Sidebar"
  aria-expanded="<%= hover_enabled == 't' ? "true" : "false" %>"
>
  <div class="sidebar-contents" data-reflex-permanent>
    <% current_path = request.path %>

    <a
      href="/"
      class="sidebar-link <%= 'sidebar-default-cursor' if current_path == '/' %>"
      data-controller="link"
      data-link-is-current-value="<%= current_path == '/' %>"
      data-action="click->link#click"
      aria-label="Go to homepage"
    >
      <%= sidebar_icon(
        svg_icon_data_url("libreverse-logo"),
        current_path == "/" ? "sidebar-current" : "",
      ) %>
    </a>
    <a
      href="/search"
      class="sidebar-link <%= 'sidebar-default-cursor' if current_path == '/search' %>"
      data-controller="link"
      data-link-is-current-value="<%= current_path == '/search' %>"
      data-action="click->link#click"
      aria-label="Go to search page"
    >
      <%= sidebar_icon(
        svg_icon_data_url("search"),
        current_path == "/search" ? "sidebar-current" : "",
      ) %>
    </a>
    <!-- Authentication links -->
    <% if rodauth.logged_in? %>
      <a
        href="<%= dashboard_path %>"
        class="sidebar-link <%= 'sidebar-default-cursor' if current_path == dashboard_path %>"
        data-controller="link"
        data-link-is-current-value="<%= current_path == dashboard_path %>"
        data-action="click->link#click"
        aria-label="Go to dashboard"
      >
        <%= sidebar_icon(
          svg_icon_data_url("dashboard"),
          current_path == dashboard_path ? "sidebar-current" : "",
        ) %>
      </a>
      <a
        href="<%= experiences_path %>"
        class="sidebar-link <%= 'sidebar-default-cursor' if current_path == experiences_path %>"
        data-controller="link"
        data-link-is-current-value="<%= current_path == experiences_path %>"
        data-action="click->link#click"
        aria-label="Manage experiences"
      >
        <%= sidebar_icon(
          svg_icon_data_url("experiences"),
          current_path == experiences_path ? "sidebar-current" : "",
        ) %>
      </a>
      <%= button_to rodauth.logout_path,
          method: :post,
          class: "sidebar-link sidebar-logout-button",
          aria: { label: "Sign out" } do %>
        <%= sidebar_icon(svg_icon_data_url("logout")) %>
      <% end %>
    <% else %>
      <a
        href="<%= rodauth.login_path %>"
        class="sidebar-link <%= 'sidebar-default-cursor' if current_path == rodauth.login_path %>"
        data-controller="link"
        data-link-is-current-value="<%= current_path == rodauth.login_path %>"
        data-action="click->link#click"
        aria-label="Sign in"
      >
        <%= sidebar_icon(
          svg_icon_data_url("login"),
          current_path == rodauth.login_path ? "sidebar-current" : "",
        ) %>
      </a>
      <a
        href="<%= rodauth.create_account_path %>"
        class="sidebar-link <%= 'sidebar-default-cursor' if current_path == rodauth.create_account_path %>"
        data-controller="link"
        data-link-is-current-value="<%= current_path == rodauth.create_account_path %>"
        data-action="click->link#click"
        aria-label="Sign up"
      >
        <%= sidebar_icon(
          svg_icon_data_url("signup"),
          current_path == rodauth.create_account_path ? "sidebar-current" : "",
        ) %>
      </a>
    <% end %>
  </div>
</nav>
