%header
  %div
    %h1 Admin Panel
    %nav
      = link_to "Dashboard", admin_root_path
      = link_to "Experiences", admin_experiences_path
      = link_to "Settings", admin_instance_settings_path
      = link_to "Litestream", admin_litestream_overview_path
      = link_to "Exit Admin", root_path
%main
  - if flash[:notice]
    %div{role: "alert"}
      %span= flash[:notice]
  - if flash[:alert]
    %div{role: "alert"}
      %span= flash[:alert]
  = yield
