<!doctype html>
<html dir="ltr" lang="en-GB">
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
    <main>
      <div class="sidebar-container">
        <div class="sidebar">
          <div class="sidebar-contents">
            <a href="/" ><%= image_tag("libreverse-logo.svg", class: "sidebar-icons") %></a>
            <a href="/whitepaper"><%= image_tag("file.svg", class: "sidebar-icons icon-invert") %></a>
            <a href="/search"><%= image_tag("search.svg", class: "sidebar-icons icon-invert") %></a>
          </div>
        </div>
      </div>
      <%= yield %>
    </main>
  </body>
</html>
