<!doctype html>
<html dir="ltr" lang="en-GB">
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <script defer src="https://analytics.geor.me/script.js" data-website-id="7e3ca1b9-a1d6-4d8f-84bd-d51af326e5d6"></script>
  </head>

  <body>
    <main>
      <div class="sidebar-container">
        <div class="sidebar">
          <div class="sidebar-contents">
            <%= image_tag("libreverse-logo.svg", class: "sidebar-icons") %>
            <%= image_tag("house-user.svg", class: "sidebar-icons icon-invert") %>
            <%= image_tag("file.svg", class: "sidebar-icons icon-invert") %>
          </div>
        </div>
      </div>
      <%= yield %>
    </main>
  </body>
</html>
