<!DOCTYPE html>
<html dir="ltr" lang="en-GB">
  <head>
    <title>Libreverse</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
    <main>
      <div class="sidebar-container">
        <div class="sidebar">
        </div>
      </div>
      <%= yield %>
    </main>
  </body>
</html>
