<!doctype html>
<html dir="ltr" lang="en-GB" data-controller="lenis" class="custom-scrollbar">
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= vite_client_tag %>
    <%= vite_javascript_tag "~/javascript/application.js", "data-turbo-track": "reload", type: "module" %>
    <%= vite_stylesheet_tag "~/stylesheets/application.scss", "data-turbo-track": "reload" %>
  </head>

  <body data-controller="shortcuts">
    <main>
      <div class="sidebar-container">
        <nav class="sidebar" data-controller="sidebar" data-action="mouseenter->sidebar#hover mouseleave->sidebar#unhover">
          <div class="sidebar-contents">
            <a href="/"
              data-controller="current"
              data-action="click->current#handleClick"
              data-current-target="link"
              class="sidebar-link">
              <img src="<%= vite_asset_path '~/images/libreverse-logo.svg' %>"
                class="sidebar-icons"
                loading="eager"
                decoding="sync"
                data-current-target="image">
            </a>
            <a href="/search"
              data-controller="current"
              data-action="click->current#handleClick"
              data-current-target="link"
              class="sidebar-link">
              <img src="<%= vite_asset_path '~/icons/search.svg' %>"
                  class="sidebar-icons"
                  loading="eager"
                  decoding="sync"
                  data-current-target="image">
            </a>
          </div>
        </nav>
      </div>
        <%= yield %>
    </main>
  </body>
</html>
