!!!
- rtl_locales = %w[ar]
%html.no-js{dir: (rtl_locales.include?(I18n.locale.to_s) ? 'rtl' : 'ltr'), lang: I18n.locale.to_s}
  %head
    - if Rails.env.development?
      = vite_stylesheet_tag "~/stylesheets/application.scss"
      = vite_javascript_tag "~/javascript/application.js"
      = render "layouts/development_headers"
    - elsif Rails.env.production?
      / This seems crazy, but it's a quirk of the fact that we use a single entrypoint.
      = inline_vite_stylesheet "~/javascript/application.js"
      = inline_vite_javascript "~/javascript/application.js"
    = render "layouts/meta_tags"
    = csrf_meta_tags
    = vite_client_tag
  %body
    %noscript
      .noscript-message
        .noscript-message__content
          %h1.noscript-message__heading= t('layouts.application.noscript_heading')
          %p.noscript-message__text= t('layouts.application.noscript_message')

    .off-canvas-wrapper
      .off-canvas-wrapper-inner{"data-off-canvas-wrapper" => ""}
        -# Off-canvas menu for additional options
        .off-canvas.position-left{"id" => "sidebar-off-canvas",
                                  "data-off-canvas" => "",
                                  "data-transition" => "push"}

          -# Close button
          %button.close-button{"aria-label" => "Close menu",
                               "type" => "button",
                               "data-close" => ""}
            %span{"aria-hidden" => "true"} &times;

          -# Menu
          %ul.vertical.menu
            %li
              = link_to "Privacy Policy", privacy_policy_path
            %li
              = link_to "Cookie Policy", cookie_policy_path
            %li
              = link_to "Terms of Service", terms_path
            - if rodauth.logged_in?
              %li
                = link_to "Account Export", "/account-export"
              %li
                = link_to "Delete Account", "/close-account"
            %li
              = link_to "Help & Support", "/help"
            %li
              = link_to "About Libreverse", "/about"
            %li
              = link_to "GitHub Repository", "https://github.com/Libreverse/Libreverse", target: "_blank", rel: "noopener"

        .off-canvas-content{"data-off-canvas-content" => ""}
          = render "layouts/flash_messages"
          #toast-container
          %main.content-wrapper
            = yield
          = render partial: "layouts/drawer" if page_with_drawer?
